@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43345d;
  height: 94vh;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.mainContainer h1 {
  color: #fff;
  font-family: "Pokemon Solid", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0c3348;
}

.wrapper .cards {
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: #fff;
  margin: 130px 10px;
  padding: 20px 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.wrapper .cards:hover {
  height: 320px;
}

.wrapper .cards .image {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.wrapper .cards .image img {
  width: 100%;
  border-radius: 15px;
  background: white;
}

.wrapper .cards .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.wrapper .cards:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.content h2 {
  margin-top: 2.5rem;
  color: #0c3348;
}
