@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  width: auto;
  height: auto;
}

.pageUp {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.img {
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
}

.img>img {
  width: 500px;
  border-radius: 15px;
}

.img>h2 {
  font-family: "Agoestoesan", sans-serif;
}

.info {
  border: 2px solid black;
  padding: 10px;
  font-family: "Agoestoesan", sans-serif;
}

.selectButton {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.selectButton button {

  padding: 20px 20px;
  font-size: 1.8em;
  border-radius: 10%;
  color: black;
  font-weight: 700;
  background-color: rgb(205, 24, 24);
}