@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.cdnfonts.com/css/boxiest");
@import url("https://fonts.cdnfonts.com/css/agoestoesan");

.pokemonPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background: linear-gradient(110deg, #0a4da4 60%, #24a8c6 60%);
}

.pageUp {
  display: flex;
  align-items: center;
}

.img {
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
}
.img > img {
  width: 500px;
  border-radius: 15px;
}
.img > h2 {
  font-family: "Agoestoesan", sans-serif;
}

.info {
  border: 2px solid black;
  padding: 10px;
  font-family: "Agoestoesan", sans-serif;
}

.selectButton {
  margin-top: 70px;
}

.selectButton button {
  padding: 20px 20px;
  font-size: 1.8em;
  border-radius: 10%;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgb(97, 41, 137);
  font-family: "Agoestoesan", sans-serif;
  border: 3px solid;
}

.selectButton button:hover {
  color: #000000;
  background: #f30000;
  border-color: #fbde3b;
  transition: all 0.4s ease 0s;
}
