@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  width: auto;
  height: 100vh;
}
