@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  width: auto;
  height: 95vh;
}

.pageUp {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.img {
  text-align: center;
  border-radius: 15px;
}

.img > img {
  width: 500px;
  border-radius: 15px;
}

.faceRight {
  transform: rotateY(180deg);
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(10px);
  }

  20%,
  80% {
    transform: translateX(-10px);
  }

  30%,
  50%,
  70% {
    transform: translateX(10px);
  }

  40%,
  60% {
    transform: translateX(-10px);
  }
}

.fightStarted {
  animation-name: shake;
  animation-duration: 1s;
}

.img > h2 {
  font-family: "Agoestoesan", sans-serif;
}

.info {
  border: 2px solid black;
  padding: 10px;
  font-family: "Agoestoesan", sans-serif;
}

.selectButton {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.selectButton h1 {
  padding: 50px 50px;
  font-family: "Agoestoesan", sans-serif;
}

.selectButton button {
  padding: 20px 20px;
  font-size: 1.8em;
  border-radius: 10%;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgb(97, 41, 137);
  font-family: "Agoestoesan", sans-serif;
  border: 3px solid;
}

.selectButton button:hover {
  color: #000000;
  background: #f30000;
  border-color: #fbde3b;
  transition: all 0.4s ease 0s;
}

.selectButton .reset {
  background-color: black;
}
