.AnchorTag {
  font-family: "Agoestoesan", sans-serif;
  position: relative;
  margin-left: 9px;
  padding: 8px;
  align-items: center;

  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
}

.AnchorTag:hover {
  color: #ef402e;
  transition: all ease 0.3s;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.rightNav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 3rem;
  position: relative;
  float: right;
}
